# IDE
.vscode
.idea
.zed

# Node modules
/node_modules

# Build directories
/dist
/forge
/.webpack
/out

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.envrc

# Website node modules and build
/website/node_modules
/website/dist
/website/forge
/website/.webpack
/website/out

# AI files
codebase.md
/*.md
!README.md

# Temporary folder
/temp-folder
.npmrc

.athignore
.ath_materials

.agents
.crush
.claude
.codex
.gemini
.opencode
opencode.json
.pi
.factory
.github

CLAUDE.md
AGENTS.md
GEMINI.md
GROK.md
QWEN.md

###############################################################################
# ATHANOR PROJECT FILES
###############################################################################
/.ath_materials/**/*
!/.ath_materials/prompts/
!/.ath_materials/prompts/**/*
!/.ath_materials/project_settings.json
